.about_area {
    padding: 5.5rem 0px;
}

.Sub_heading {
    font-family: 'Inconsolata', monospace;
    font-size: 15.5px;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: -2px;
    letter-spacing: 2.3px;
    color: #797979;
}

span {
    position: relative;
    top: -2px;
    display: inline-block;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background: rgba(237, 35, 159, 0.6);
    filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    -moz-filter: blur(4px);
    -webkit-filter: blur(4px);
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .Sub_heading {
        font-family: 'Inconsolata', monospace;
        font-size: 15.5px;
        font-weight: 200;
        text-transform: uppercase;
        margin-bottom: -2px;
        letter-spacing: 2.3px;
        color: #797979;
        margin-top: 27px;
    }

}