.home_banner_area {
    width: 100%;
    background: url('../../../../Images/banner/home-banner.png') no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
}

.home_banner_area .banner_inner {
    width: 100%;
    min-height: 890px;
}

.primary_btn {
    display: inline-block;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    color: #fff;
    letter-spacing: 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    padding: 0 38px;
    outline: none !important;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    background-size: 200% auto;
}

/* .msg
{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
} */
/* .heading
{
    font-family: 'Noto Serif', serif;    color: #05364d;
    margin-top: 3px;
    font-size: 46px;
    font-weight: 550;
    line-height: 60px;
    margin-bottom: 20px;
} */
.work {
    font-size: 21px;
    font-weight: 200;
    margin-bottom: 36px;
    color: #05364d;


}

.s_icons div a {
    color: rgba(5, 54, 77, 0.5);
    font-size: 20px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin-bottom: 36px;
}

.historyStyling {
    background: #f8faff;
    text-align: center;
    padding: 16px 19px;
    color: purple;
}

.historyStyling p {
    color: #797979;
    letter-spacing: 0.4px;
}

.ProjectCart-section div {
    /* margin: 0px 2rem 0px 0px; */
    width: 33%;
    margin-inline: 1%;
    background-color: white;
    color: #797979;
    background: #f8faff;
}

.ProjectCart-section div strong {
    color: purple;
    font-weight: 400;
    font-size: 35px;

}

.objective-heading {
    padding-inline: 20px;
    font-family: 'Noto Serif', serif;
    color: #05364d;
    opacity: 0.9;
    margin-top: 0px;
    font-size: 20px;
    font-weight: 900;
    /* line-height: 60px; */
    margin-bottom: 0px;
}

/* only mobile view */
@media only screen and (max-width: 600px) {
    .ProjectCart-section div {
        width: auto;
        margin-inline: 0.5%;
        color: #797979;
        background: #f8faff;
    }

}